
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>10de10.cl</title>
    {% load static %}
    
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    {% endblock %}

    {% block java %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% endblock %}

	<link rel="stylesheet" href="{% static 'core/'%}estilos.css">
	<link rel="stylesheet" href="font-awesome.css">
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="main.js"></script>
	
	  

</head>
<body background="{% static 'core/'%}imagenes/fondo.jpg">


	<div id="logo" >
		<img src="{% static 'core/'%}imagenes/logo.png">
		
	</div>
	<div class="wrap">

    
		<ul class="tabs">
			
			<li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Inicio</span></a></li>
			<li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Quienes Somos</span></a></li>
			<li><a href="#tab3"><span class="fa fa-shopping-cart"></span><span class="tab-text">Productos</span></a></li>
			<li><a href="#tab4"><span class="fa fa-phone"></span><span class="tab-text">Contáctanos</span></a></li>
		
		</ul>
        
        {% block contenido %}

        {% endblock %}

   

        <script src="{% static 'core/'%}main.js"></script>
	</div><!--div wrap-->

	<footer>
		<div class="social-networks">
			<a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
			<a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
			<a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
			<a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
			<a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
		</div>
        <br>
        
      
		<center>
			<p>© 2020 by 10de10. Product by created with My friends 10 de 10</p>
			
		</center>
		
	</footer><!--pie de pagina-->
</body>
</html>						