
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MENSAJE</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/'%}enviado.css">
</head>
<body background="{% static 'core/'%}imagenes/fondo.jpg">
    <center><img src="{% static 'core/'%}imagenes/logo.png" width="126" height="106" menu display></center>
<div class="contenedor">

    <center><h1>¡Gracias por escribirnos!</h1> </center>
    <center><img src="{% static 'core/'%}imagenes/logo3.png" width="126" height="106" menu display></center>
    
    <center><a href="{% url 'home'%}"> <img src="{% static 'core/'%}imagenes/Volver-botonverde.png" width="207" height="72"</a> </center>
    
</div>
</body>
</html>

{% endblock %}