

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'core/'%}contacto.css">
</head>
<body background="{% static 'core/'%}imagenes/fondo.jpg">
    <center><img src="{% static 'core/'%}imagenes/logo.png" width="126" height="106" menu display></center>
    <div class="contenedor">

      <h1>Formulario Contacto</h1>

      <div class="contenido">

          <div class="info">

              <div class="col">
                  <i class="icono fas fa-map-marker-alt"></i>
                  <p>Av. Los carreras #123 - Concepción, Chile</p>
              </div>

              <div class="col">
                  <i class="icono fas fa-envelope"></i>
                  <p>contacto@10de10.cl</p>
              </div>

              <div class="col">
                  <i class="icono fas fa-phone"></i>
                  <p>(+56) 954962310</p>
              </div>

              

          </div>

          <form action="{% url 'envio'%}"   method="GET" class="formulario">

              <input type="text" name="nombre" placeholder="Nombre" id="nombre">
              <input maxlength="2" minlength="1" type="number" name="edad" placeholder="Edad" id="edad"  pattern="[0-9]+">
              <input type="text" name="correo" placeholder="Correo electrónico" id="correo">
              <input type="text" name="asunto" placeholder="Asunto" id="asunto">
              <textarea name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>
              <button type="button" id=boton1 onclick="validarFormulario()" >Enviar</button>
              <a href="{% url 'home'%}"  >Volver</a>
          </form>
          
      </div>
      
  </div>

  {% block java %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {% endblock %}
  <script src="{% static 'core/'%}main.js"></script>
</body>
</html>


{% endblock %}