{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

		<div class="contenedor">
				
			<ul class="saludo">  
			 
				<li>Come bien!</li>
				<li>Vive bien <3</li>
				<li>Come bien!</li>
				<li>Vive bien <3</li>
			 
			
			</ul>
			
			</div><!--div saludo-->
		<div class="secciones">

		    <article id="tab1">
			
				<div class="banner">
					
				</div>
				 <p>¡Nueva línea de productos sanos y ricos en propiedades!</p>

			
			</article>


			<article id="tab2">
				<h1>¿Quiénes somos?</h1>
			</br>
				<p>
					Somos una pyme, que esta relacionado con el mundo de la vida sana.
					A raíz de la pandemia mundial, descubrí que muchas personas están experimentando altos 
					niveles de ansiedad y estrés, por ende surgió una idea de cómo ayudarlos. 
				</p>
				<p>Existen distintos alimentos naturales que reducen considerablemente los niveles de ansiedad y 
					estrés en las personas, entre los cuales destacan: palta, salmón, espárrago, espinaca, pavo, 
					avena, chía, almendra, cacao dulce, blueberry y naranja. 
					</p>
			    <p>Como resultado final a raiz de esto surgió la idea de hacer una barra de avena
					con ingredientes como:

				</p>
				  <div class="ingredintes">
					<p >
						Avena,
						Chia,
						Almendra,
						Cacao dulce,
						Blueberry y 
						Naranja.
					</p>

				  </div>

			<img src="{% static 'core/'%}imagenes/snowpy.JPG" alt=""width="500px" height="300px">
			</article>
			<article id="tab3">
				<center><h1>Productos</h1></center>
				
				<br>

			<div class="images-section">
				<div class="item">
					<div class="imagen">
						<img src="{% static 'core/'%}imagenes/barraBlueberry01.JPG">
					</div>
					<div class="info">
						<h1>Barra Blueberry Chips unidad 25gr.</h1>
						<p>
							Ingredientes: Avena integral laminada (32%), 
							Jarabe de maltitol (20%), Cacao en polvo (12%),
							Almendras molidas (12%), Arándanos deshidratados (12%),
							Semillas de chía (12%), Stevia   
						</p>
						<h2>
							$490 
						</h2>
					</div>
				</div>
				<div class="item">
					<div class="imagen">
						<img src="{% static 'core/'%}imagenes/barraNaranja01.JPG">
					</div>
					<div class="info">
						<h1>Barra Naranja Chips unidad 25gr.</h1>
						<p>
							Ingredientes: Avena integral laminada (32%),
							 Jarabe de maltitol (20%), Cacao en polvo (12%), 
							 Almendras molidas (12%), Cáscara de naranja en polvo (12%),
							  Semillas de chía (12%), Stevia  
							
						</p>
						<h2>
							$590
						</h2>
					</div>
				</div>
				<div class="item">
					<div class="imagen">
						<img src="{% static 'core/'%}imagenes/cajaBlueberry.JPG">
					</div>
					<div class="info">
						<h1>Caja Blueberry Chips Pack(15 unidades 25gr.)</h1>
						<br>
						<h2>
							$5.990
						</h2>
					</div>
					
				</div>
				<div class="item">
					<div class="imagen">
						<img src="{% static 'core/'%}imagenes/cajaNaranja.JPG">
					</div>
					<div class="info">
						<h1>Caja Naranja Chips Pack (15 unidades 25gr.)</h1>
						<br>
						<h2>
							$7.490
						</h2>
					</div>
					
				</div>
			</div>
			<div class="arrows">
				<div class="fas fa-arrow-left"></div>
				<div class="fas fa-arrow-right"></div>
			</div>
			
			</article>
			<article id="tab4">
				<h2>Contáctanos</h2>
				<br>
				<h1>Ubicación: Nos ubicamos en Concepción, Chile. Av.Los Carreras, #123</h1>
				
				<br>
				<center>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102198.16494790593!2d-73.10308589142419!3d-36.82588414749932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b5cdd2bbc63b%3A0x44cb37b752212698!2zQ29uY2VwY2nDs24sIELDrW8gQsOtbw!5e0!3m2!1ses!2scl!4v1600305018004!5m2!1ses!2scl" width="350" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			    </center>
				<br>
				<p>También nos puedes contactar a través de un mensaje en nuestro formulario de contacto:</p>
				<br>
				<div id="main-container">
					<a href="{% url 'form'%}"  class="btn btn-green">Formulario</a>
	
				</div>

				
			</article>
		</div><!--div secciones-->

{% endblock %}
